{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "useTabs": false,
  "endOfLine": "auto",
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}